<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523099154573-57pc0ljvcep0ivtakiamk7sn3if53pmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523099154573-57pc0ljvcep0ivtakiamk7sn3if53pmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDDjH3x40-2436-tSsoY5R5AZepzs3OeQk</string>
	<key>GCM_SENDER_ID</key>
	<string>523099154573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.isil.proyecto-conductor</string>
	<key>PROJECT_ID</key>
	<string>goplace-ios1139</string>
	<key>STORAGE_BUCKET</key>
	<string>goplace-ios1139.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523099154573:ios:cd6772aca913e32b061ac4</string>
</dict>
</plist>